astroid==3.3.11
black==25.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
coverage==7.10.1
dill==0.4.0
dotenv==0.9.9
idna==3.10
iniconfig==2.1.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pylint==3.3.7
pytest==8.4.1
pytest-cov==6.2.1
python-dotenv==1.1.0
redis==6.2.0
requests==2.32.4
slack_bolt==1.23.0
slack_sdk==3.35.0
spotipy==2.25.1
tomlkit==0.13.3
urllib3==2.5.0
